<div
  class="modal modal-blur fade"
  id="chat-modal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-full-width modal-dialog-centered"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title p-s">Chat</h5>
        <div class="btn-list s2" id="create-group-button">
                <a href="javascript:void(0)" class="btn bg-danger text-bg-light" rel="noreferrer">
                  <!-- Download SVG icon from http://tabler-icons.io/i/brand-github -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
   <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
   <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
   <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
   <path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path>
</svg>
                  Create New Group
                </a>
        </div>


        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h3>Users</h3>
        <div class="d-flex">
          <div style=" overflow:scroll; width:350px; height:900px;">
            {{#each chatUsers}}
              <div class="card">
                <div class="user row row-0 p-3" data-id="{{_id}}">
                  <div class="col-3">
                    <!-- Photo -->
                    {{#if profilePic}}
                      <img
                        src="/uploads/{{profilePic}}"
                        class="rounded-circle"
                        height="63"
                        width="63"
                      />
                    {{else}}
                      <img
                        src="/uploads/blank-profile-picture-973460_640.jpg"
                        class="rounded-circle"
                        height="63"
                        width="63"
                      />
                    {{/if}}
                  </div>

                  <div class="col">
                    <div class="card-body">
                      <b><span>{{firstName}} {{lastName}}</span></b>
                      {{#if (checkMath pendingUsersMsg "==" 0)}}
                        <span
                          class="badge bg-red ms-3"
                          id="chat-badge-chatbox"
                          hidden
                        >{{pendingUsersMsg}}</span>
                      {{else}}
                        <span
                          class="badge bg-red ms-3"
                          id="chat-badge-chatbox"
                        >{{pendingUsersMsg}}</span>
                      {{/if}}
                    </div>
                  </div>

                </div>
              </div><br />
            {{/each}}
          </div>
          <div
            style="background-image: url(/images/2048343.jpg);width: 77%;margin-left: 2%;"
          >

            <div class="card rounded-0 bg-primary-subtle">
              <div class="row p-3" data-id={{_id}}>

                <div id="chat-margin">
                  <h2>Welcome to Chat..!!</h2>
                  <h4>start conversation...</h4>
                </div>
                <div id="user-name">
                </div>
              </div>
            </div>
            <br />

            <div class="chat-listing">
              {{! <div style="overflow: scroll; height: 800px;" id="chat-list">
          </div>  }}
            </div>

          </div>
        </div><br />
        <div class="input-group" style="width: 77%;margin-left:16%;">
          {{! input for sending messages would be fitted here once user selects an user to start chat }}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
 </div> 
 </div> 