<div class="col-sm-6 col-lg-4">
  <div class="card card-sm">
    <a href="#" class="d-block"><img
        src="/images/{{postImg}}"
         style="height: 300px;" 
        class="card-img-top"
      /></a>
    <div class="card-body">
      <div class="d-flex align-items-center">
        
        <div>
          <span
          class="avatar me-3 rounded"
          style="background-image: url(/uploads/{{data.profilePic}})"
        ></span>
          <div><b>{{data.firstName}} {{data.lastName}}</b></div><br>
           <b>Title</b>
          <div>{{postName}}</div>
          <b>Description</b>
          <div>{{description}}</div>

        </div>
        <div class="ms-auto">
          <a href="/" class="text-muted"  data-bs-toggle="modal" data-bs-target="#modal-danger"> 
            <!-- Download SVG icon from http://tabler-icons.io/i/eye -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-arrow-big-down-lines-filled"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M9 8l-.117 .007a1 1 0 0 0 -.883 .993v1.999l-2.586 .001a2 2 0 0 0 -1.414 3.414l6.586 6.586a2 2 0 0 0 2.828 0l6.586 -6.586a2 2 0 0 0 .434 -2.18l-.068 -.145a2 2 0 0 0 -1.78 -1.089l-2.586 -.001v-1.999a1 1 0 0 0 -1 -1h-6z"
                stroke-width="0"
                fill="currentColor"
              ></path>
              <path
                d="M15 2a1 1 0 0 1 .117 1.993l-.117 .007h-6a1 1 0 0 1 -.117 -1.993l.117 -.007h6z"
                stroke-width="0"
                fill="currentColor"
              ></path>
              <path
                d="M15 5a1 1 0 0 1 .117 1.993l-.117 .007h-6a1 1 0 0 1 -.117 -1.993l.117 -.007h6z"
                stroke-width="0"
                fill="currentColor"
              ></path>
            </svg>
            save
          </a>
        </div>
      </div>
    </div>
  </div>
</div>